#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.roulette-table{
  width: 50vw;
  position: relative;
  background-color: green;
}
.roulette-bet-number{
  padding: 20px;
  background-color: black;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
.roulette-game {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: start; /* Align items to the start vertically */
  gap: 2rem; /* Space between the roulette table and wheel */
}

.roulette-wheel {
  width: 300px; /* Adjust as necessary */
  height: 300px; /* Adjust as necessary */
  border: 2px solid #000; /* Example styling, change as needed */
  border-radius: 50%; /* Make it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd; /* Example background color */
}
.roulette-bet-number:nth-child(2n){
background-color: red;
}
.roulette-bet-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9%, 1fr));
  gap: 10px; /* Adjust the space between grid items */
}
.numberOnTableHasBet{
  border: 2px solid white;
  position: relative;
}
/* You can add media queries for finer control in different screen sizes */
@media (max-width: 600px) {
  .roulette-bet-table {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); /* Fewer columns on smaller screens */
  }
}
.chipsOnNumber{
  position: absolute;
  width: 20%;
  left: 40%;
  height: 10px;
  background-color: white;
  border-radius: 100px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
